# MongoDB Configuration
MONGODB_USERNAME=your_username
MONGODB_PASSWORD=your_password
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=your_root_password
MONGODB_DBNAME=web3270db

# Azure Blob Storage Configuration
BLOB_STORAGE_ACCOUNT_NAME=your_storage_account
BLOB_STORAGE_ACCOUNT_KEY=your_storage_key
BLOB_STORAGE_CONTAINER_NAME=your_container_name
BLOB_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=protocolo(mostly https);AccountName=your_azure_account_name;AccountKey=your_azure_account_key;EndpointSuffix=core.windows.net


# Application Configuration
BLOB_REPOSITORY_BUFFER_SIZE=2048
